<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>aa</string>
		<key>no</key>
		<string>000200010001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bb</string>
		<key>no</key>
		<string>000200010002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cc</string>
		<key>no</key>
		<string>000200010003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dd</string>
		<key>no</key>
		<string>000200010004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ee</string>
		<key>no</key>
		<string>000200010005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ff</string>
		<key>no</key>
		<string>000200010006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>gg</string>
		<key>no</key>
		<string>000200010007</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hh</string>
		<key>no</key>
		<string>000200010008</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ii</string>
		<key>no</key>
		<string>000200010009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jj</string>
		<key>no</key>
		<string>000200010010</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kk</string>
		<key>no</key>
		<string>000200010011</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ll</string>
		<key>no</key>
		<string>000200010012</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mm</string>
		<key>no</key>
		<string>000200010013</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nn</string>
		<key>no</key>
		<string>000200010014</string>
	</dict>
	<dict>
		<key>name</key>
		<string>oo</string>
		<key>no</key>
		<string>000200010015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>no</key>
		<string>000200010016</string>
	</dict>
</array>
</plist>
